#=========================================================
# Tang Nano 9K
# GW1NR-LV9QN88PC6/I5
# Bank 3 VCCIO = 1.8 V
#=========================================================

#---------------------------------------------------------
# 27 MHz Clock
#---------------------------------------------------------
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS18;

#---------------------------------------------------------
# Active-Low Push Button
#---------------------------------------------------------
IO_LOC "rst_n" 3;
IO_PORT "rst_n" IO_TYPE=LVCMOS18 PULL_MODE=UP;

#---------------------------------------------------------
# On-board LED1
#---------------------------------------------------------
IO_LOC "toggle" 10;
IO_PORT "toggle" IO_TYPE=LVCMOS18;
